---
import { type Guia } from "@/types/Guia";
interface Props {
  guia: Guia;
  index: number;
}
const { guia, index } = Astro.props;
---

<article id={guia.tag} class="overflow-hidden md:min-h-[550px]">
  <h2
    class={`text-[2.2rem] font-rasegard leading-7 md:leading-12  ${index % 2 === 0 ? "text-left" : "text-right"} md:text-[4.5rem] xl:text-[5.5rem] xl:leading-16`}
  >
    {guia.alias}
  </h2>
  <div class="bg-black p-5 font-robotika lg:h-[680px] xl:overflow-hidden">
    <div class="border-2 border-white rounded-2xl p-5 lg:h-full">
      <div
        class={`flex ${index % 2 === 0 ? "flex-row" : "flex-row-reverse"} gap-5 lg:gap-10 lg:h-full`}
      >
        <div
          class={`flex flex-col ${index % 2 === 0 ? "items-start" : "items-end"}  gap-2 flex-1 lg:w-1/2 lg:grow-0 lg:basis-auto relative lg:h-full `}
        >
          <a href={guia.soundtrack} target="_blank" rel="noopener noreferrer">
            <img
              src="/assets/SOUNDTRACK_TRANSFORMACION.svg"
              alt="Icono de un boton"
              class={`w-24 h-24 xl:w-28 xl:h-28 relative z-20 lg:absolute lg:bottom-0 ${index % 2 === 0 ? "" : "lg:right-0"}`}
            />
          </a>
          <div
            class="w-full h-full lg:flex lg:items-end lg:justify-center relative"
          >
            <img
              src={guia.image}
              alt={guia.alias}
              class={`absolute z-10  ${guia.scale}   ${index % 2 === 0 ? "-translate-x-10" : "translate-x-10"} lg:w-[80%] xl:w-1/2 top-24  -translate-y-1/5 ${guia.position ?? "bottom-0"} lg:translate-y-16`}
            />
          </div>
        </div>

        <div class="flex flex-col gap-2 flex-1 justify-center lg:w-1/2">
          <h2
            class={`text-white font-black text-2xl ${index % 2 === 0 ? "text-left" : "text-right"} md:text-3xl lg:text-4xl xl:text-5xl`}
          >
            {guia.nombre}
          </h2>
          <p
            class={`text-white text-sm md:text-lg ${index % 2 === 0 ? "text-left" : "text-right"} xl:text-2xl`}
          >
            {guia.descripcion}
          </p>
          <div class="flex flex-col gap-3">
            <p
              class="block text-white text-sm font-black md:text-base lg:hidden"
            >
              Gustos: <span class="font-normal">{guia.gustos}</span>
            </p>
            <p
              class="block text-white text-sm font-black md:text-base lg:hidden"
            >
              Disgustos: <span class="font-normal">{guia.disgustos}</span>
            </p>
          </div>
          <div
            class={`mt-10 flex flex-col gap-3 ${index % 2 === 0 ? "items-start" : "items-end"} lg:gap-10`}
          >
            <p
              class="hidden text-white text-sm font-black md:text-base lg:block xl:text-xl"
            >
              Gustos: <span class="font-normal">{guia.gustos}</span>
            </p>
            <p
              class="hidden text-white text-sm font-black md:text-base lg:block xl:text-xl"
            >
              Disgustos: <span class="font-normal">{guia.disgustos}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
