---
import { type GuiaImage } from "@/types/GuiaImage";
interface Props {
  guia: GuiaImage;
}
const { guia } = Astro.props;
---

<div class="card-container">
  <article class="card">
    <img src={guia.imageBg} alt={`Imagen de ${guia.tag}`} />
    <img src={guia.imageHover} alt={`Imagen de ${guia.tag}`} />
  </article>
  <a
    href=`/#${guia.tag}`
    class="mt-2 text-center inline-block w-full font-robotika text-lg font-semibold underline relative z-10"
  >
    {guia.tag}
  </a>
</div>

<style>
  .card {
    position: relative;
    width: 80%;
    height: auto;
    transition: all 0.3s ease;
    margin: 0 auto;
    z-index: 1;
    display: flex;
    justify-content: center;
  }

  .card img:first-child {
    width: 80%;
    height: 80%;
  }
  .card img:last-child {
    position: absolute;
    width: auto;
    height: auto;
    object-fit: contain;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease;
    opacity: 0;
    margin: 0 auto;
    scale: 1.2;
  }
  .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  .card:hover img:first-child {
    opacity: 0;
  }
  .card:hover::before {
    opacity: 1;
  }
  .card:hover img:last-child {
    opacity: 1;
  }
</style>
